@font-face {
  font-family: 'IRANSans';
  font-style: normal;
  font-weight: 400;
  src: url('~assets/fonts/IRANSans/ttf/IRANSansWeb.ttf') format('truetype');
}

@font-face {
  font-family: 'IRANSans';
  font-style: normal;
  font-weight: 500;
  src: url('~assets/fonts/IRANSans/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'IRANSans';
  font-style: normal;
  font-weight: 700;
  src: url('~assets/fonts/IRANSans/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'IRANSans';
  font-style: normal;
  font-weight: 900;
  src: url('~assets/fonts/IRANSans/ttf/IRANSansWeb_Black.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'IRANSans', serif;
  }
}
